* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: 'Raleway';
}

html {
  background-color: black;
  color: rgba(255, 255, 255, 1);
}

header,
main,
section,
footer {
  width: 1440px;
  text-align: center;
  margin: auto;
}

h1 {
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(180deg, #33a8db 0%, #1472b7 100%);
  background-clip: text;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 900;
  line-height: 46.96px;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.19em;
  line-height: 37.57px;
  text-align: center;
  text-decoration-skip-ink: none;
}

.module span,
h2,
button {
  color: rgba(51, 168, 219, 1);
  text-transform: uppercase;
}

button {
  background-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(180deg, #3ba1cd 0%, #1572b7 100%) 2 / 2px /
    round;
  padding: 19px 91px;
  font-weight: 900;
  line-height: 18.78px;
  text-align: center;
  font-size: large;

  font-size: 16px;
  letter-spacing: 0.21em;
}

footer {
  background: linear-gradient(
    180deg,
    rgba(51, 168, 219, 0) 0%,
    rgba(51, 168, 219, 0.2) 99.99%,
    rgba(51, 168, 219, 0.2) 100%
  );
}

.banner {
  height: 605px;
  border-bottom: 1px solid rgba(51, 168, 219, 1);
  padding-top: 60px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(./assets/images/banner.png);
  background-size: cover;
  text-align: center;
}

.banner-content {
  width: 560px;
  height: 393px;
  text-align: center;
}

.logo img {
  margin: auto;
  width: 268px;
  height: 268px;
  background: #00000033;
  border-radius: 50%;
  object-fit: scale-down;
}

.banner-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin: 16px 0 24px;
}
.banner-content,
#course-content,
footer {
  margin: 10px auto 10px auto;
}

#course-content {
  width: 792px;
  height: 325px;
  margin: 100px auto 50px;

  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

#course-content p {
  margin: 24px 0;
  text-align: center;
}

.modules-list {
  margin-bottom: 24px;
}

.module {
  width: 535px;
  height: 51px;

  background: rgba(37, 37, 37, 1);

  padding: 16px 0;

  border-radius: 57px;
  border: 1px solid rgba(51, 168, 219, 1);

  box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.4) inset;
  text-align: center;

  box-sizing: border-box;

  margin: 0 auto 24px;
}

#transform-world {
  width: 1440px;
  height: 363px;

  border-top: 1px solid rgba(51, 168, 219, 1);
  border-bottom: 1px solid rgba(51, 168, 219, 1);

  background: url(./assets/images/woman-code.png) fixed center;
  background-size: cover;
}
